body {
    background-image: url(https://images.unsplash.com/photo-1610056352054-a68fe4f998e1?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

body { width: 97vw; }


.inside {
    color: #54c0ca;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

hr {
    color: #0b3a71;
}

ul>li a{
    color: #54c0ca;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
h1 {
    color: #54c0ca;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    text-transform: capitalize;
}



p{
    color:rgb(159, 142, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    text-align: start;
    position:relative;
    left: 20px;
   
}

.responsive-img{
    max-width: 100%;
    height: auto;
}

div > img {

    border-radius: 50%;
    display: block;
    margin-left:200px;
    width: 500px;
    margin-left: 320px;
   
}



aside> h3 {
    color: #0b3a71;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

aside {
    color:rgb(159, 142, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: start;
    font-size: medium;
    font-style: italic;
   
   
}

footer > div{
color: #54c0ca;
font-size: medium;
font-family: Georgia, 'Times New Roman', Times, serif;

}

footer>div p:last-child{
    float: inline-end;
    padding-top: 220px;
}

footer button{
    margin-top: 150px;
    margin-bottom: 20px;
}


footer>nav i {
   text-align:left;
   left: 0;
   padding-top: 150px;

}

footer > nav a:hover{
    color: antiquewhite;
   
}

footer > nav a:link{
    color: antiquewhite;
   
}

    